{% load static %}<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group-Univers</title>
    <link rel="icon" href="{% static 'images/Logo GU.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>
<body>
    {% include 'header.html' %}
    
        <H1>Actualités EN COURS DANS Group univer</H1>
    
    {% include 'footer.html' %}
</body>
</html>
